mixin day(day)
  li #{day} - 
    strong #{commits[day]}

html
  head
    title #{user}'s Report So Far
    link(
      rel="stylesheet"
      href="/style.css"
    )
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1"
    )
  body
    h1 Here's how many commits you've made so far, #{user}.
    ul
      +day("Sunday")
      +day("Monday")
      +day("Tuesday")
      +day("Wednesday")
      +day("Thursday")
      +day("Friday")
      +day("Saturday")
    h2 Total commits this week: 
      strong #{total}